{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link rel='stylesheet' type='text/css' href="{% static 'users/styles/forms.css' %}"
{% endblock %}
{% block content %}
<form method='post' enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type='submit' value='Create'/>
</form>
{% endblock %}