{% extends 'base.html' %}
{% block content %}
    <img src="{{object.image.url}}" width="350" height="350">
    
    <div class='description'>
        <p class='item-title'>{{object.title}}</p>
        {{object.description}}
        {% if user != object.owner.user and user.is_authenticated %}
            <form action="buy/" method='GET'>
                <button type='submit'>Buy</button>
            </form>
        {% endif %}
        {% if user == object.owner.user or user.is_superuser %}
            <form action="delete/" method='GET'>
                <button type='submit'>Delete</button>
            </form>
            <form action="update/" method='GET'>
                <button type='submit'>Change</button>
            </form>

        {% endif %}
        {% if user.is_authenticated %}
                <a href="/products/comments/create/?id={{object.id}}" ><button type='submit'>Comment</button></a>
        {% endif %}
        <hr>
        
        Listed by: {{object.owner.user.username}} for: {{object.price}}
    </div>
    
    <div>
    {% for comment in comments %}
        <div>
            {{comment.content}}  ---- {{comment.authour.user.username}}
        </div>
    {% endfor %}
    </div>
{% endblock %}