{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link rel='stylesheet' type='text/css' href="{% static 'users/styles/forms.css' %}"
{% endblock %}
{% block content %}
<form method='post'>
    {% csrf_token %}
    <h2>Do you want to delete this listing? </h2>
    <p> <input type='submit' value='Yes'/>  <a href='../'><input type='button' value='No'/></a> </p>
</form>
{% endblock %}