{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link rel='stylesheet' type='text/css' href="{% static 'products/styles/list.css' %}"
{% endblock %}
{% block content %}
    <div class='form-box'>
        <form method='GET'>
            <input type='text' name='q'>
            <input class="button" type='submit' value="Search">
            {% if user.is_authenticated %}
            <input type="radio" id="owned" name="filter" value="owned">
            <label for="owned">owned</label>
            {% endif %}
            <input type="radio" id="id" name="filter" value="id">
            <label for="id">chronological</label>
            <input type="radio" id="-id" name="filter" value="-id">
            <label for="-id">reverse chronological</label>
            <input type="radio" id="price" name="filter" value="price">
            <label for="price">price: low to high</label>
            <input type="radio" id="-price" name="filter" value="-price">
            <label for="-price">price: high to low</label> 
        </form>
    </div>
    <div class='list'>
    {% for instance in object_list %}
        <a href='{{ instance.get_absolute_url }}'>
            <div class='product-card'>
                <p class='card-title'>{{ instance.title }}</p>
                <img class='card-img' src="{{instance.image.url}}" width="200" height="200">
            </div>
        </a>
    {% endfor %}
    </div>
    
{% endblock %}