.list {
    display: flex;
    flex-wrap: wrap;
}
.product-card {
    transition: 0.3s;
    padding: 20px;
    border-radius: 10%;
}

.product-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-title {
    text-align: center;
    color: black;
}

a {
    text-decoration: none;
    margin: 0% 2%;
}


.description{
    width: 50%;
    text-align: center;
}
