nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    background-color: #333;
}

ul {
    list-style-type: none;  
    display: flex;
    padding: 0;
    margin: 0;
}

.push-right {
    margin-left: auto;
}

li a:hover {
    background-color: #111;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0.25%;
}

.main {
    padding: 10% 5%;
}

body {
    height: 100%;
    width: 100%;
    background-color: #555;
}

.title {
    text-align: center;
}