{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link rel='stylesheet' type='text/css' href="{% static 'users/styles/forms.css' %}"
{% endblock %}
{% block content %}
<h2>Register From</h2>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
        <p>
        {{ field.label_tag }}<br>
        {{ field }}
        
        {% for error in field.errors%}
            <p class="error">{{ error }}</p>
        {% endfor%}
        </p>
        {% if field.help_text %}
            <small>{{ field.help_text}}</small>
        {% endif%}
    {% endfor %}
    <hr>
    <button type="submit">Register</button>
</form>
{% endblock %}