{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link rel='stylesheet' type='text/css' href="{% static 'users/styles/forms.css' %}"
{% endblock %}
{% block content %}
    <h2>Login</h2>
    
    <form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
        <div class="button-container">
            <button type="submit" value="login"> Login </button>
        </div>
    </form>
    <p> No account? <a href="/users/register/"> register </a> </p>
{% endblock %}

