{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link rel='stylesheet' type='text/css' href="{% static 'users/styles/forms.css' %}"
{% endblock %}
{% block content %}
    <section>
        <h3> You are logged out</h3>
        
        <p><a href='/users/login'>Login again?</a></p>
    </section>
{% endblock %}