{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Klone</title>
        <link rel='stylesheet' type='text/css' href="{% static 'products/styles/main.css' %}">
        {% block styles %}{% endblock %}
    </head>
    <body>
        <nav>
            <ul>
                <li><a href='/'> Home </a></li>
                <li><a href='/products/'> Products </a></li>
                {% if user.is_superuser %}
                <li><a href='/admin/'> admin </a></li>
                {% endif %}
                <li class='push-right'><a href='/users/logout'> Logout </a></li>
                <li><a href='/users/login'> Login </a></li>
                {% if user.is_authenticated %}
                <li><a href='/products/create'> Add Listing </a></li>
                <li><a href='/users/{{ user.id }}/update/avatar'> Change Avatar </a></li>
                <li><a href='/users/{{ user.id }}/update'> Edit Profile </a></li>
                <li><a href='/users/change-pw'> Change password </a></li>
                {% endif %}
                
            </ul>
        </nav>
        <div class='main'>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>